div.panel-center.upgrade-page {
    width: 100%;
    padding: 0;
}

div.panel-center div.upgrade-slap {
    text-align: center;
}

div.upgrade-slap div.whiteout, div.upgrade-slap div.frontout {
    padding: 3rem 0 3rem 0;
    border: 1px solid rgba(0, 0, 0, 0);
}

div.upgrade-slap div.whiteout {
    background-color: white;
}

span.accent {
    position: relative;
}

span.accent svg { /* span::after */
    position: absolute;
    width: 104%;
    top: 84%;
}

span.accent._1 svg {
    left: -5%;
}

span.accent._2 svg {
    left: -1%;
}

h1 {
    font-size: 2.8rem;
    line-height: 80%;
}

h2 {
    font-size: 2rem;
    line-height: 80%;
}

p {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 60%;
}

b p {
    font-weight: 600;
    font-size: 1.1rem;

    display: flex;
    align-items: center;
}

div.upgrade-slap span.svgwrap {
    display: flex;
    padding-right: 2rem;
}

p.hide {
    font-size: 1rem;
    font-weight: 100;
    line-height: 40%;
    opacity: 0.6;
}

p.br {
    display: flex;
    margin: 1.5rem;
}

div.upgrade-slap div.align {
    width: 80%;
    display: block;
    text-align: left;
    margin: auto;
}

div.upgrade-slap div.align div {
    display: flex;
    align-items: center;
}

div.upgrade-slap div.align div.p {
    display: block;
}

div.upgrade-slap div.align p {
    line-height: 2rem;
}

div.upgrade-slap div.align img {
    display: flex;
    margin: 1rem 0 1rem 0;
    border-radius: 2rem;
}

div.upgrade-slap div.align img.right {
    margin-left: 6rem;
    margin-right: 0;
}

div.upgrade-slap div.align img.left {
    margin-left: 0;
    margin-right: 6rem;
}

div.upgrade-slap button {
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: .4rem;
    cursor: pointer;
}

div.upgrade-slap button.button-attr {
    color: var(--attr-color);
    transition: var(--transition-attr);
    border: 3px solid rgba(0, 0, 0, .1);
    background-color: white;
    cursor: pointer;
}

div.upgrade-slap button.button-attr:hover {
    color: var(--attr-hover-color);
}

div.upgrade-slap button.labeled {
    right: 6.5rem;

    color: white;
    background-color: var(--attr-color);
    transition: 300ms;
}

div.upgrade-slap button.labeled:hover {
    background-color: var(--attr-color-dark);
    filter: none;
}
